[submodule "frontend"]
	path = frontend
	url = https://github.com/RuanMoreiraOfc/fullstack-sva-tech-react
[submodule "backend"]
	path = backend
	url = https://github.com/RuanMoreiraOfc/fullstack-sva-tech-express
